.cartas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.carta{
    background-color: rgba(255, 193, 85, 0.80);
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.carta img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.carta p{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
}
.carta button{
    background-color: rgb(208, 157, 74);
    color: white;
    border-radius: 999px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 300ms ease;
}
.carta:hover{
    transform: scale(1.05);
    transition: transform 300ms ease;
}
.carta button:hover{
    border-radius: 8px;
    transition: all 300ms ease;
}
#products{
    scroll-margin-top: 120px;
}
@media (max-width: 768px){
    .cartas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    }
    .carta{
    background-color: rgba(255, 193, 85, 0.80);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px 0px;
    }
}