*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       
}

header{
    width: 100%;
    margin-top: 120px;
}
main{
    width: 100%;
}
footer{
    width: 100%;
    
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 193, 85, 0.80);
    margin-top: 40px;
    
}
@media (max-width: 768px){
    header{
    width: 100%;
    margin-top: 50px;
    }
    main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    footer{
    width: 100%;  
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(214, 150, 65, 0.9);
    margin-top: 40px;
    }
}