*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       
}

header{
    width: 100%;
    margin-top: 120px;
}
main{
    width: 100%;
}
footer{
    width: 100%;
    height: 550px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 193, 85, 0.80);
    margin-top: 40px;
    
}