*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  color: #f0f0f0;
  margin: 0;
  background-image: url('../imgs/fono-muebleria-gonzales.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}