/* Menu pagina */
.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgb(220, 144, 22);
    z-index: 1000;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow:
    0 20px 50px rgba(255, 180, 60, 0.45),
    0 0 40px rgba(255, 210, 120, 0.6);
}
.logo{
    width: 30%;
    height: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(220, 144, 22);
}
.logo img{
    width: 20%; 
    object-fit: cover;
}
.logo p{
    width: 60%;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    user-select: none;
    display: flex;
    align-items: center;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    background-color: rgb(208, 157, 74);
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 300ms ease, box-shadow 300ms ease;
    transform-origin: center;
}
.menu ul li:hover{
    transition: all 0.3s ease;
    border-radius: 8px;
    transform: scale(1.12);
}

.menu li.activo{
    transform: scale(1.12);
    border-radius: 8px;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: bold;
    display: block;
}

.hambur{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Carrito */
.carrito-icon{
    background-color: rgb(208, 157, 74);
    color: white;
    border-radius: 999px;
    padding: 20px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 300ms ease;
}
.carrito-icon:hover{
    background-color: rgb(220, 144, 22);
    transition: background-color 300ms ease;
}
.carrito-dropdown {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 500px;
    height: calc(100vh - 80px);
    background-color: rgb(208, 157, 74);
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}


.carrito-dropdown.abierto {
    transform: translateX(0);
    opacity: 1;
}

.carrito-dropdown h3 {
  margin: 0 0 10px 0;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}
.carrito-lista{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.total {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: right;
}
.carrito-producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    
}
.carrito-producto p{
    margin: 5px 0;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    
}
.carrito-producto button{
    background-color: rgb(220, 144, 22);
  
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 300ms ease;
    margin-top: 5px;
}
@media (max-width: 768px){
    .menu{
        display: flex;
        justify-content: space-around;
        background-color: rgba(214, 150, 65, 0.9);
    }
    .logo{
        width: 80%;
        height: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: rgba(214, 150, 65, 0.9);

    }
    .menu ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(214, 150, 65, 0.9);

        /* Animación */
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-10px);
        transition: 
            max-height 0.4s ease,
            opacity 0.3s ease,
            transform 0.3s ease;

    }
    .menu ul li{
        width: 50%;
         background-color: rgb(220, 144, 22);
    }
    .links.abrir{
        max-height: 500px; /* suficiente para que entren los items */
        opacity: 1;
        transform: translateY(0);
    }
    .hambur{
        display: block;
        width: 10%;
        background-color: rgb(220, 144, 22);
        border: 1px solid rgb(139, 86, 0);
        text-align: center;
    }
    .carrito-icon{
        
        position: fixed;
        top: 500px;
        right: 15px;
        background-color: rgb(220, 144, 22);
        color: white;
        padding: 12px 16px;
        border-radius: 50px;
        font-size: 1.2rem;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        z-index: 4000;
        cursor: pointer;
        z-index: -1;
    }
    
    .carrito-dropdown{
        position: absolute;
        width: 100%;
        right: 0;
        top: 80px;
        height: calc(100vh - 80px);
        
    }
}