/* Menu pagina */
.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: rgb(220, 144, 22);
    z-index: 1000;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow:
    0 20px 50px rgba(255, 180, 60, 0.45),
    0 0 40px rgba(255, 210, 120, 0.6);
}
.logo{
    width: 30%;
    height: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(220, 144, 22);
}
.logo img{
    width: 20%; 
    object-fit: cover;
}
.logo p{
    width: 40%;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    user-select: none;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    background-color: rgb(208, 157, 74);
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 300ms ease, box-shadow 300ms ease;
    transform-origin: center;
}
.menu ul li:hover{
    transition: all 0.3s ease;
    border-radius: 8px;
    transform: scale(1.12);
}

.menu li.activo{
    transform: scale(1.12);
    border-radius: 8px;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: bold;
    display: block;
}
@media (max-width: 768px){
    .logo{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(220, 144, 22);
    }
}