.nosotros{
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;  
    align-items: center; 
    justify-content: center;
    background-color: rgba(255, 193, 85, 0.80);
    padding: 20px 10px;
    backdrop-filter: blur(8px);
    box-shadow:
    0px 0px 30px rgba(255, 180, 60, 0.35),
    0px 0px 25px rgba(255, 200, 100, 0.25);
}
.nosotros img{
    width: 30%;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}
.info{
    width: 70%;
    color: white;
    padding: 20px;
    
}
.info h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.info p{
    font-size: 1.2rem;
    user-select: none;
}
#nosotros{
    scroll-margin-top: 120px;
}
@media (max-width: 768px){
    .nosotros{
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;  
    align-items: center; 
    justify-content: center;
    background-color: rgba(255, 193, 85, 0.80);
    padding: 20px 10px;
    backdrop-filter: blur(8px);
    box-shadow:
    0px 0px 30px rgba(255, 180, 60, 0.35),
    0px 0px 25px rgba(255, 200, 100, 0.25);
    }
    .nosotros img{
    width: 50%;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    }
    .info{
    width: 100%;
    color: white;
    padding: 20px;
    }
}