/* Estilos para el pie de página IZQUIERDA*/

.izquierda{
    
    width: 43%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Horario{
    width: 85%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    font-size: 1.2rem;
    gap: 5px;
    border-bottom: 1px solid #ffff;
    
}
.Contacto{
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    font-size: 1.2rem;
    gap: 5px;
}

/* Estilos para el pie de página DERECHA*/
.derecha{
    
    width: 43%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-left: 1px solid #ffff;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    
}
form input, form textarea{
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    border: none;
    resize: none;
    margin-bottom: 10px;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

form input, form textarea:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(255, 193, 85, 0.80);
}

form button{
    width: 100%;
    padding: 15px;
    border-radius: 999px;
    border: none;
    background-color: rgba(255, 193, 85, 0.80);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;   
}
